# Langchain
langchain 
langchain-cli
langchain-community
langchain-groq
langchain-tavily

# Langgraph
langgraph


# Environment
python-dotenv


# Flask Frontend/Backend
flask
flask-cors


# Parsers
markdown2 
mistune
html2text
pypdf


# Tools
serp 
serpapi
wikipedia
arxiv
googlesearch-python
google-search-results
beautifulsoup4


# NLP
langchain-ollama
sentence_transformers


# RAG
faiss-cpu


# Conversational Agents
pyttsx3
pyaudio
vosk 
sounddevice


